.body {
   display: flex;
   width: 100%;
   height: 85vh;
}

.levtMenu {
   background-color: rgba(0, 255, 255, 0.137);
   width: 10%;
   height: 89vh;
}

.mainWindow {
   background-color: rgba(255, 0, 234, 0.13);
   width: 90%;
   height: 89vh;
}