.allBtn{
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.img-viev {
    @extend .allBtn;
    display: flex;
    justify-content:end;
    align-items:start;
    width: 40px;
    height: 40px;
    background-color: $background-momdal-panel-color;
}

// .img-viev {
//     flex-;
// }

.img-viev  > svg {
//   padding: 2px;

}