$text-color-white:  antiquewhite;
$text-color:  aqua;
$background-button-color:rgb(51, 51, 51);
$background-panel-color: rgb(44, 44, 44);
$background-window-color: rgb(39, 39, 39);
$table-border-color: #e7e7e7;