.levtMenu{
    background-color: rgba(0, 255, 255, 0.137);
    width: 10%;
    height: 89vh;
}

.mainMenyBtn{
    display: flex;
    flex-direction: column;
}

.btnMenu {
    color: antiquewhite;
     background-color: rgb(70, 70, 70);
}

.active {
   background-color: rgb(44, 44, 44);
   color: rgb(61, 253, 173);
}