@import './constants';

.levtMenu{
    background-color: $background-button-color;
    width: 10%;
    height: 89vh;
}

.mainMenyBtn{
    display: flex;
    flex-direction: column;
}

.btnMenu {
    color:$text-color-white;
     background-color: $background-button-color;
}

.active {
   background-color: $background-button-color;
   color: $text-color;
}