@import './constants';


.panelesMeny{
    display: flex;
    flex-direction:row;
    position: relative;
}


.panels {
    width: 100%;
    height: 89vh;
    color: antiquewhite;
    background-color:$background-panel-color;
    display: none;
}
 .activePanel {
   background-color: $background-panel-color;
   color: rgb(61, 253, 173);
   display: block;
}

.modalMain{
    width: 90%;
    height: 90%;
    background-color:  $background-panel-color;
    display: none;
}

.modalMainActive{
   display: block;
//    left: 250px;
//    top: 100px;
   position: absolute; 
}
.titleFIO {
    display: flex;
    flex-direction: row;
}

h2 {
    margin-left: 5px;
}
.clickable-surname {
    cursor: pointer;
}