.panelesMeny{
    display: flex;
    flex-direction:row;
    position: relative;
}


.panels {
    width: 100%;
    height: 89vh;
    color: antiquewhite;
    background-color: rgb(70, 70, 70);
    display: none;
}
 .activePanel {
   background-color: rgb(44, 44, 44);
   color: rgb(61, 253, 173);
   display: block;
}

.modalMain{
    width: 550px;
    height: 500px;
    background-color: rgb(97, 48, 48);
    display: none;
}

.modalMainActive{
   display: block;
   left: 250px;
   top: 100px;
   position: absolute; 
}