@import './constants';


.panelesMeny{
    display: flex;
    flex-direction:row;
    position: relative;
}


.panels {
    width: 100%;
    height: 89vh;
    color: $text-color-white;
    background-color:$background-panel-color;
    display: none;
}
 .activePanel {
   background-color: $background-panel-color;
   color: $text-color;
   display: block;
}

.modalMain{
    width: 90%;
    height: 90%;
    background-color:  $background-panel-color;
    display: none;
}
.workwearMain{
    @extend .modalMain;
}

.modalMainActive{
   display: block;
   width: 90%;
    height: 90%;
    background-color:  $background-momdal-panel-color;
   left: 30px;
   top: 30px;
   position: absolute;
   border: 3px ridge $borler-color;
}

.workwearMainActive {
    @extend .modalMainActive;
   width: 87%;
    height: 80%;
    background-color: $background-panel-color;
   left: 40px;
   top: 10%;
}

.titleFIO {
    display: flex;
    flex-direction: row;
}

h2 {
    margin-left: 5px;
    color: $text-color
}
.clickable-surname {
    cursor: pointer;
}

.user-table{
    margin-left: 5px;
    color: $text-color
}

.imgButton {
    width: 30px; 
    height: 30px; 
    fill: $text-color-white;

}
 .labelStyle {
    margin-left: 5px;
    color: $text-color;
    font-size: 25px;
 }
 .checkStyle {
     width: 20px; 
    height: 20px;
 }

 .topMenu {
     width: 100%; 
    height: 60px;
    border: 1px solid $table-border-color;
 }
 input[type="date"] {
  border: 1px solid $table-border-color;
  padding: 1px;
  border-radius: 2px;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: $background-momdal-panel-color;
  color: $text-color;
//   outline: none; /* Убираем стандартное свечение */
//   box-shadow: 0 0 0 3px $background-panel-color;
}