.panelesMeny{
    display: flex;
    flex-direction:row;
}


.panels {
    width: 100%;
    height: 89vh;
    color: antiquewhite;
    background-color: rgb(70, 70, 70);
    display: none;
}
 .activePanel {
   background-color: rgb(44, 44, 44);
   color: rgb(61, 253, 173);
   display: block;
}

