.persCard {
    position: relative;
}

.persCardBlok{
     display: flex;
    flex-direction: row;
}

.persCardData {
    // position: relative;
    display: flex;
    flex-direction: column;
}

.inputCard {
    width: 300px;
}
.personInput{
    position:absolute;
    color: aqua;
    top: -1px;
    right: 10px;
}