@import './constants';



.window-frame {
  background-color: $background-window-color;
    display: flex;
  flex-direction: column;
  height: 94.5vh;
  
}

.window-titlebar {
  display: flex;
  justify-content: space-between;
  // background-color: rgb(67, 141, 141);
  height: 40px;
}

// .window-content {

// }

// .window-titlebar-icon {

// }

// .window-titlebar-icon img {
// }

.window-titlebar-title {
  padding: 5px;
  margin:  5px 5px 0 5px;
  color: $text-color-white;
  // background-color: rgb(173, 106, 106);
}



.window-titlebar-controls {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: $text-color-white;
  //  background-color: rgb(173, 106, 106);
}

// .window-titlebar-menu {


// }

.titlebar-controlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
  // margin-right: 5px;
  // border: 1px solid rgb(164, 173, 173);
  margin-bottom: 10px;
}