@charset "UTF-8";
/* 1. Используем более интуитивную модель box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Убираем стандартные отступы */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* 3. Убираем маркеры списков по умолчанию */
ol, ul {
  list-style: none;
}

/* 4. Делаем изображения адаптивными по умолчанию */
img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  display: block; /* Убирает лишний пробел под изображениями */
}

/* 5. Наследуем шрифты для элементов форм */
input, button, textarea, select {
  font: inherit;
}

/* 6. Убираем стандартное подчеркивание ссылок, если нет класса */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

.window-frame {
  background-color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  height: 94.5vh;
}

.window-titlebar {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.window-titlebar-title {
  padding: 5px;
  margin: 5px 5px 0 5px;
  color: aliceblue;
}

.window-titlebar-controls {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: aliceblue;
}

.titlebar-controlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  width: 100%;
  height: 85vh;
}

.mainWindow {
  background-color: rgba(255, 0, 234, 0.13);
  width: 90%;
  height: 89vh;
}

.levtMenu {
  background-color: rgba(0, 255, 255, 0.137);
  width: 10%;
  height: 89vh;
}

.mainMenyBtn {
  display: flex;
  flex-direction: column;
}

.btnMenu {
  color: antiquewhite;
  background-color: rgb(70, 70, 70);
}

.active {
  background-color: rgb(44, 44, 44);
  color: rgb(61, 253, 173);
}

.allBtn {
  padding: 2px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.panelesMeny {
  display: flex;
  flex-direction: row;
  position: relative;
}

.panels {
  width: 100%;
  height: 89vh;
  color: antiquewhite;
  background-color: rgb(70, 70, 70);
  display: none;
}

.activePanel {
  background-color: rgb(44, 44, 44);
  color: rgb(61, 253, 173);
  display: block;
}

.modalMain {
  width: 90%;
  height: 90%;
  background-color: rgb(97, 48, 48);
  display: none;
}

.modalMainActive {
  display: block;
  position: absolute;
}

.titleFIO {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-left: 5px;
}

.clickable-surname {
  cursor: pointer;
}

.persCardBlok {
  display: flex;
  flex-direction: row;
}

.persCardData {
  display: flex;
  flex-direction: column;
}

.inputCard {
  width: 300px;
}

.personInput {
  position: absolute;
  color: aqua;
  top: -1px;
  right: 10px;
}

.tableStyle {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}