@charset "UTF-8";
/* 1. Используем более интуитивную модель box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Убираем стандартные отступы */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* 3. Убираем маркеры списков по умолчанию */
ol, ul {
  list-style: none;
}

/* 4. Делаем изображения адаптивными по умолчанию */
img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  display: block; /* Убирает лишний пробел под изображениями */
}

/* 5. Наследуем шрифты для элементов форм */
input, button, textarea, select {
  font: inherit;
}

/* 6. Убираем стандартное подчеркивание ссылок, если нет класса */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

.window-frame {
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
  height: 94.5vh;
}

.window-titlebar {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.window-titlebar-title {
  padding: 5px;
  margin: 5px 5px 0 5px;
  color: antiquewhite;
}

.window-titlebar-controls {
  display: flex;
  padding: 5px;
  margin: 5px;
  color: antiquewhite;
}

.titlebar-controlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  width: 100%;
  height: 85vh;
}

.mainWindow {
  background-color: rgb(44, 44, 44);
  width: 90%;
  height: 89vh;
}

.levtMenu {
  background-color: rgb(51, 51, 51);
  width: 10%;
  height: 89vh;
}

.mainMenyBtn {
  display: flex;
  flex-direction: column;
}

.btnMenu, .editMenu {
  color: antiquewhite;
  background-color: rgb(51, 51, 51);
}

.active {
  background-color: rgb(51, 51, 51);
  color: aqua;
}

.editMenu {
  width: 30px;
  height: 30px;
}

.editBtn {
  background-color: rgb(72, 79, 83);
}

.allBtn, .img-viev, .img-disabled {
  padding: 2px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.img-viev, .img-disabled {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 40px;
  height: 40px;
  background-color: rgb(72, 79, 83);
}

.img-disabled {
  cursor: default;
}

.panelesMeny {
  display: flex;
  flex-direction: row;
  position: relative;
}

.panels {
  width: 100%;
  height: 89vh;
  color: antiquewhite;
  background-color: rgb(44, 44, 44);
}

.modalMain, .workwearMain {
  width: 90%;
  height: 90%;
  background-color: rgb(44, 44, 44);
  display: none;
}

.modalMainActive, .workwearMainActive {
  display: block;
  width: 90%;
  height: 90%;
  background-color: rgb(72, 79, 83);
  left: 30px;
  top: 30px;
  position: absolute;
  border: 3px ridge rgb(168, 192, 190);
}

.workwearMainActive {
  width: 87%;
  height: 80%;
  background-color: rgb(44, 44, 44);
  left: 40px;
  top: 10%;
}

.titleFIO {
  display: flex;
  flex-direction: row;
}

h2 {
  margin-left: 5px;
  color: aqua;
}

.clickable-surname {
  cursor: pointer;
}

.user-table {
  margin-left: 5px;
  color: aqua;
}

.imgButton {
  width: 30px;
  height: 30px;
  fill: antiquewhite;
}

.labelStyle {
  margin-left: 5px;
  color: aqua;
  font-size: 25px;
}

.checkStyle {
  width: 20px;
  height: 20px;
}

.topMenu {
  width: 100%;
  height: 60px;
  border: 1px solid #e7e7e7;
}

input[type=date] {
  border: 1px solid #e7e7e7;
  padding: 1px;
  border-radius: 2px;
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: rgb(72, 79, 83);
  color: aqua;
}

.persCardBlok {
  display: flex;
  flex-direction: row;
}

.persCardData {
  display: flex;
  flex-direction: column;
}

.inputCard {
  width: 300px;
}

.personInput {
  position: absolute;
  color: aqua;
  top: -1px;
  right: 10px;
}

.tableStyle {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}